body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #f4f4f4;
}

header {
   /* Falta agregar */
    padding: 20px;
    background-color: black;
}

section {
    height: 500;
    width: 500;
}

.hero {
    background-image: url(assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 35vh;
    padding-top: 25vh;
}



h2 {
    margin-top: 0vh;
}

input {
    border: 0;
    border-radius: 1vh;
    text-align: left;
    padding: 1vh 1vh;
}

button {
    background-color: deepskyblue;
    border: 0;
    color: #f4f4f4;
    padding: 1vh 1vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 1vh;
}

button:hover {
    background-color: red;
}


footer {
    background-color: #333;
    color: white;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}